@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@layer theme {
  @theme {
    --color-lamaSky: #c3ebfa;
    --color-lamaSkylight: #edf9fd;
    --color-lamaPurple: #cfceff;
    --color-lamaPurpleLight: #f1f0ff;
    --color-lamaYellow: #fae27c;
    --color-lamaYellowLight: #fefce8;

    /* Если хочешь использовать как обычные цвета Tailwind */
    --color-lama-sky: var(--color-lamaSky);
    --color-lama-skylight: var(--color-lamaSkylight);
    /* и т.д. */
  }
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
